img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin: auto;
  padding: 0;
  
  list-style: none;
}

ul li {
  width: 35%;
  margin-bottom: 50px;
  margin-right: 50px;
}

ul li a {
  display: block;
  
  transition: 0.2s ease;
}

ul li a:hover {
  transform: scale(1.1);
}

ul li a img {
  display: block;
  height: 250px;
}

@media (max-width: 1000px) {
  .container {
    width: auto;
    padding: 0 5%;
  }
  
  ul li {
    width: 150px;
  }
  
  ul li a img {
    height: 125px;
  }
}

@media (max-width: 650px) {
  .container {
    padding: 0 2%
  }
  
  ul {
    flex-direction: column;
  }
}