img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin: auto;
  padding: 0;
  
  list-style: none;
}

ul.list {
  display: block;
}

ul.list li {
  width: auto;
  height: auto;
}

ul.list li a:hover {
  transform: none;
}

ul li {
  width: 310px;
  height: 379px;
  margin-bottom: 50px;
  margin-right: 50px;
}

ul li a {
  display: block;
  
  font-size: 50px;
  
  transition: 0.2s ease;
}

ul li a:hover {
  transform: scale(1.1);
}

ul li a img {
  display: block;
}

@media (max-width: 1155px) {
  ul {
    padding-top: 20px;
  }
  
  ul li:nth-child(1) {
    display: block;
  }
  
  ul li:nth-child(7) {
    display: none;
  }
}

@media (max-width: 800px) {
  .container {
    height: auto;
  }
  
  ul li {
    width: 160px;
    height: 220px;
  }
}

@media (max-width: 703px) {
  ul {
    justify-content: space-between;
  }
  
  ul li {
    height: 180px;
    margin-right: 0;
  }
  
  ul li a {
    
  }
  
}

@media (max-width: 394px) {
  ul {
    justify-content: center;
  }
}